{% include 'header.html' %}
<form method="POST" action="/store" enctype="multipart/form-data">
    <div class="card">
        <div class="card">
            <div class="card-header">
                Alta empleado
            </div>
            <card class="body">
                <p class="card text">
                    <div class="form-group">
                        <label for="textNombre">Nombre: </label>
                        <input type="text" name="textNombre" id="textNombre">
                    </div>
                    <div class="form-group">
                        <label for="textCorreo">Correo electrónico: </label>
                        <input type="email" name="textCorreo" id="textCorreo">
                    </div>
                    <div class="form-group">
                        <label for="textFoto">Foto de perfil:</label>
                        <input type="file" name="textFoto" id="textFoto">
                    </div>
                </p>
            </card>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Agregar nuevo empleado"/>
        <a class="btn btn-primary" href="{{url_for('index')}}">Regresar</a>
    </div>
    
</form>
{% include 'footer.html'%}

