{% include 'header.html' %}
{% for empleado in empleados %}
<form method="POST" action="/update" enctype="multipart/form-data">
    <div class="card">
        <div class="card">
            <div class="card-header">
                Modificar empleado
            </div>
            <card class="body">
                <p class="card text">
                    <input type="hidden" value="{{empleado.id}}" name="textID" id="textID">
                    <div class="form-group">
                        <label for="textNombre">Nombre: </label>
                        <input type="text" value="{{empleado.nombre}}" name="textNombre" id="textNombre">
                    </div>
                    <div class="form-group">
                        <label for="textCorreo">Correo electrónico: </label>
                        <input type="email" value="{{empleado.correo}}" name="textCorreo" id="textCorreo">
                    </div>
                    <div class="form-group">
                        <label for="textFoto">Foto de perfil:"{{empleado.foto}}"</label>
                        <img class="img-thumbnail" width="90" alt="foto de perfil" src="{{url_for('uploads',nombreFoto= empleado.foto)}}">
                        <input type="file" name="textFoto" id="textFoto">
                    </div>
                </p>
            </card>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Modificar empleado"/>
        <a class="btn btn-primary" href="{{url_for('index')}}">Regresar</a>
    </div>
    
</form>
{% endfor %}
{% include 'footer.html'%}