{% include 'header.html'%}
{% for empleado in empleados %}
<form method="post" action="/update" enctype="multipart/form-data">
    <label for="txtID">Nombre: </label>
    <input type="text" value={{empleado[0]}} name="texID" id="txtID">
    <label for="txtNombre">Nombre: </label>
    <input type="text" value={{empleado[1]}} name="texNombre" id="txtNombre"></br>
    <label for="txtCorreo">Correo electrónico: </label>
    <input type="email" value={{empleado[2]}} name="txtCorreo" id="txtCorreo"></br>
    <label for="txtFoto">Foto de perfil:   {{empleado[3]}}   </label>
    <input type="file" name="txtFoto" id="txtFoto"></br></br>
    <input type="submit" value="agregar">
</form>
{% endfor %}
{% include 'footer.html'%}