{% include 'header.html'%}
<h1>Empleados</h1>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>id</th>
            <th>Nombre Foto</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{empleado.id}}</td>
            <td>
                <img width="90" src="userpic/{{empleado.foto}}" alt="foto de perfil">
            </td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.correo}}</td>
            <td>
                <a class="btn btn-warning" href="/edit/{{empleado.id}}">Editar</a>
                <a class="btn btn-danger" href="/destroy/{{empleado.id}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html'%}